* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Poppins", sans-serif;
}

/* Common */

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.col-four {
    width: 25%;
}

.text-center {
    text-align: center !important;
}

/* Main */

#main { 
    overflow: hidden; /* chỉnh cho kích cỡ trên 1400px phù hợp vs device khác */
    width: 100%;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    /* overflow: hidden; */
}
 
#nav ,.subnav {
    list-style-type: none;
    display: inline-block;
}

#nav > li {
    display: inline-block;
    position: relative;
}


#nav > li >a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a{
    background-color: gray;
    color: black;
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    min-width: 160px;
    top: 100%;
}

#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .subnav li:hover {
    background-color: gray;
    color: black;
    display: block;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn ,
#header .search-btn {
    background-color: black;
    float: right;
    padding: 0 20px 0 20px;
    height: 46px;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .meunu-icon,
#header .search-btn i {
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#header .meunu-icon:hover {
    color: black;
    font-size: 20px;
    line-height: 46px;
}

/* Slider  */

#slider {
   margin-top: 46px;
   padding-top: 63%;
   background-image: url('../img/slider/spidersuy.jpg');
   background-position:top center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}


#slider .text-content {
    position: absolute;
    bottom: 30%;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-content img {
    max-width: 15%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 60px;
    text-shadow: 2px 2px 1px #000;
    
}

#slider .text-description {
    font-size: 40px;
    margin-top: 25px;
    text-shadow: 0 0 1px black;
    letter-spacing: 4px;
}

#content {
    
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    color: grey;
}

#content .about-text {
    margin: 15px 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4; /* khoảng cách giữa các dòng, 1.4 vs Eng và 1.6 vs Viet */
}

#content .member-list {
    padding: 32px 0;
    
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    margin-bottom: 16px;
    width: 154px;
    border-radius: 5px;
    height: 200px;
    
}

#infor1,
#infor2, 
#infor3, 
#infor4 {
    position: relative;
}

#infor1:hover .infor-member,
#infor2:hover .infor-member,
#infor3:hover .infor-member,
#infor4:hover .infor-member {
    display: block;
}

#content .infor-member {
    display: none;
    width: 130px;
    max-height: 100px;
    position: absolute;
    color: white;
    margin-top: -80px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(223, 100, 18, 0.5);
    animation: fadeMember ease 0.5s;
    list-style: none;
}


/* Tour section */

#content .tour-section {
    background-color: black;
}

#content .ticket-list {
    background-color: #fff;
    margin-top: 30px;
}

#content .ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid grey;
    color: grey;
    list-style-type: none;
}

#content .ticket-list .online {
    margin: 0 0 0 16px;
    padding: 3px 8px;
    background-color: green;
    color: white;
}

#content .ticket-list .offline {
    margin: 0 0 0 16px;
    padding: 3px 8px;
    background-color: red;
    color: white;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%; /* hình tròn */
    text-align: center;
    line-height: 24px;
    padding: 0 8px;
    margin-right: 16px;
}

/* Places */
.places-list {
    margin-top: 16px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
    max-height: 170px;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    padding: 0.1px 16px;
}

.place-heading {
    font-size: 15px;
    margin: 15px 0;
    font-weight: bolder;
}

.place-time {
    font-size: 15px;
    color: gray;
    margin: 15px 0;
}

.place-desc {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.4;
}

.place-buy-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 32px;
    margin-bottom: 16px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.place-buy-btn:hover {
    background-color: grey;
    color: black;
    cursor: pointer;
}

/* Contact form section */

.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor a {
    text-decoration: none;
    color: black;
}

.contact-infor a:hover {
    color: #ccc;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit {
    display: block;
    float: right;
    font-size: 15px;
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    border: none;
}

.form-submit:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

/* Map */

#map img{
   width: 100%;
   height:fit-content;
}

/* Footer */
#footer {
    padding: 64px 16px ;
    text-align: center;
    line-height: 3;
    color: grey;
    background-color: #f1f1f1;
}

#footer i {
    font-size: 24px;
    display: inline-block;
}

#footer i:hover {
    color: lightgray;
}

#footer .under-footer {
    font-size: 15px;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 921px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% -32px); /* căn khoảng cách khi thu nhỏ màn hình */
    animation: modalFadeIn ease 0.5s;
}

.modal-header i {
    margin-right: 10px;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    height: 129px;
    line-height: 129px;
    text-align: center;
    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0;

}

.modal-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

#buy-ticket {
    font-size: 15px;
    padding: 16px;
    margin: 16px 0;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

#buy-ticket:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    
    margin: 15px 16px;
}

.modal-footer a {
    color: skyblue;
}

/* bar progress */
    .scroll-line {
        margin-top: 46px;
        display: block;
        border: 2px solid #ccc;
        z-index: 2;
    }
 
    .scroll-line{
        background-color: rgb(251, 189, 1);
        transition-property: width;
        top: 0;
        left: 0;
        height: 5px;
        position: fixed;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
     }

/* end bar progress */

/* Parallax Scroll */
.showtotop {
    opacity: 0;
}

.active .showtotop {
    animation: showtop 1s ease-in-out 1 forwards;
}

.delay-02 {
    animation-delay: 0.2s !important;
}

.delay-04 {
    animation-delay: 0.4s !important;
}

.delay-06 {
    animation-delay: 0.6s !important;
}

.delay-08 {
    animation-delay: 0.8s !important;
}

.delay-1 {
    animation-delay: 1.0s !important;
}

/* End */

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeMember {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showtop {
    from {
        opacity: 0;
        transform: translate(0,100px);
    }
    to {
        opacity: 1;
        transform: translate(0,0);
    }
}